[Desktop Entry]
Name=Suspend
Comment=Disconnect Wi-Fi & VPN before sleep
Exec=~/scripts/suspend.sh
Terminal=false
Type=Application
StartupNotify=false
Icon=system-suspend
